<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iFeel - Feel the music</title>
    <link rel="stylesheet" href={% static 'css/style.css' %} />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <span id="cancel">&#215</span>
            <div class="image">
                <img src={% static 'images/logo2.png' %} />
            </div>
            <span class="text">iFeel</span>
        </div>
        <div class="body">
            <div class="languages">
                <span class="heading">
                    Languages
                </span>
                <ul>
                    <li>Urdu</li>
                    <li>Hindi</li>
                    <li>Punjabi</li>
                    <li>English</li>
                </ul>
            </div>
            <div class="artists">
                <span class="heading">
                    Artists
                </span>
                <ul>
                    <li><img src={% static 'images/nusrat.jpg' %} />Nusrat Fateh Ali Khan</li>
                    <li><img src={% static 'images/rahat.jpg' %} />Rahat Fateh Ali Khan</li>
                    <li><img src={% static 'images/himmesh.jpg' %} />Hamesh Reshammiya</li>
                    <li><img src={% static 'images/diljit.webp' %} />Diljit Dosanjh</li>
                    <li><img src={% static 'images/arjit.jpg' %} />Arjit Singh</li>
                    <li><img src={% static 'images/sonu.cms' %} />Sonu Nigam</li>
                    <li><img src={% static 'images/atif.jpg' %} />Atif Aslam</li>
                    <li><img src={% static 'images/neha.jpeg' %} />Neha Kakar</li>
                    <li><img src={% static 'images/badshah.jpeg' %} />Badshah</li>
                    <li><img src={% static 'images/arman.jpg' %} />Arman Mailk</li>
                    <li><img src={% static 'images/raftar.png' %} />Raftar</li>
                </ul>
            </div>
        </div>
    </div>
    <main class="main" id="main">
        <div class="menu">
            <i class='bx bx-menu' id="menu"></i>
        </div>
        <div class="container">
            <div class="header">
                <h1 class="heading">Search</h1>
                <div class="search">
                    <input type="text" name="search" placeholder="Search songs.." id="search">
                    <i class='bx bx-search' id="searchButton" ></i>
                </div>
            </div>
            <div class="head-songs">
                <span>Search results for '{{ query }}'</span>
            </div>
            <div class="music-gallery">
                {% if database %}
                {% for song in database %}
                <div class="card" onclick="loadSong('{{song.lyrics_id}}', '{{song.subtitle}}', '{{ song.id }}', '{{ song.encrypted_media_url }}', '{{song.title}}', '{{song.image}}', '{{ csrf_token }}')">
                    <img src="{{ song.image }}" />
                    <div class="meta">
                        <p>{{ song.title }}</p>
                        <div class="details">
                            <span>{{ song.year }}</span>&nbsp;&nbsp;&nbsp;
                            <span>-&nbsp;&nbsp;&nbsp;{{ song.duration }}min</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="footer" style="margin: 1.5rem 0rem 1rem 0rem;">
            @Copyright. Muhammad Hanan Asghar
        </div>
        <div class="player">
            {% if songMeta %}
            <audio src="{{ songMeta.songUrl }}" preload="metadata" type="audio/mp3" loop></audio>
            {% endif %}
            <div class="seek">
                <input type="range" id="seek-slider" max="100" value="0">
            </div>
            <div class="time">
                <div>
                    <span id="current-time" class="time">0:00</span>
                </div>
                <div>
                    <span id="duration" class="time">0:00</span>
                </div>
            </div>
            <div class="controls">
                <div class="meta-data">
                    <div class="image">
                        {% if songMeta %}
                        <img src="{{ songMeta.image }}" />
                        {% else %}
                        <img src="https://media.istockphoto.com/vectors/image-preview-icon-picture-placeholder-for-website-or-uiux-design-vector-id1222357475?k=20&m=1222357475&s=612x612&w=0&h=jPhUdbj_7nWHUp0dsKRf4DMGaHiC16kg_FSjRRGoZEI=" />
                        {% endif %}
                    </div>
                    <div class="data">
                        {% if songMeta %}
                        <p>{{ songMeta.title }}</p>
                        <span>{{ songMeta.subtitle}}</span>
                        {% else %}
                        <p>Song name....</p>
                        <span>Song description....</span>
                        {% endif %}
                    </div>
                </div>
                <div class="buttons">
                    <i class="uil uil-play" id="play-icon"></i>
                    <i class="uil uil-volume-up" id="volume-button"></i>
                </div>
            </div>
        </div>
        <div class="rangeContainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="volumeSlider">
        </div>
    </main>
    <script src={% static 'js/jquery.min.js' %} ></script>
    <script src={% static 'js/script.js' %} ></script>
    <script src={% static 'js/player.js' %} ></script>
    <script src={% static 'js/functions.js' %} ></script>
</body>
</html>